/* styles.css */
body#body {
    min-height:100vh;
}
#body>.container {
    min-height: calc(100vh - 120px);
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
nav.navbar, footer.footer {
    height:60px;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

#navbarNav {
    background-color:#f8f9fa!important;
    z-index: 100;
}
#navbarNav .nav-link {
    padding-left:1.5rem;
}


table {
    margin-top: 20px;
}

.pagination {
    margin-top: 20px;
}

.btn-sm {
    padding: 0.3rem 0.6rem;
}

.mt-4 .btn {
    margin:.5rem !important;
}